@font-face {
    font-family: Plain;
    src: url(./plain-regular-webfont.ttf);
}

@font-face {
    font-family: Silk;
    src: url(./silkserif-regularitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}

/* body:hover{
    cursor:none;
} */

html,body{
    height:100%;
    width:100%;
    }

#crsr{
    height:2.3vw;
    width:2.3vw;
    border-radius: 50%;
    z-index:999;
    position: fixed;
    mix-blend-mode: difference;
    border:1px solid #ffffffcd;
    transform: translate(-50%,-50%);
    
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line{
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2vw;
 
}

.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    line-height: 8vw;
    font-family: Plain;
    /* background-color: red; */
}
.line h2{
    font-size: 5.8vw;
    text-transform: uppercase;
    font-weight: 1100;
    opacity: 0;
    margin-top: -1.2vw;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 4vw;
    font-family: Silk;
    font-weight: 100;
}

#line1-part1 h5{
    /* background-color: red; */
    width:5.5vw;
    text-align: right;
    margin-right: 1.8vw;
}

#main{
    position: relative;
    background-color:#030303;
}

#page1{
    height:100vh;
    width:100%;
    background-color: #151515;
    /* background-color: red; */
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2.2vw 6vw;
}

#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3.2vw;
}

#nav-part2 h2{
    font-size: 0.9vw;
    font-weight: 100;
    font-family: Plain;
}

#hero h1{
    font-size: 7.6vw;
    line-height: 7.6vw;
    text-transform: uppercase;
    font-family: Plain;
    font-weight: 100;
   
}

#hero h2{
    font-size: 7.6vw;
    line-height: 7.6vw;
    text-transform: uppercase;
    font-family: Plain;
    font-weight: 100;
}

.hero3 h2:hover{
    -webkit-text-stroke: 0.1vw white;
    color: transparent;
    border-bottom: 0.5vw solid rgba(255, 255, 255, 0) ;
}


.hero3 h2{
    border-bottom: 0.5vw solid white ;
    margin-right: 1vw;
    padding-bottom:0.5vw;
}

#hero:nth-child(2){
    margin-top: 15vh;
}

#hero{
    /* background-color: red; */
    width:75%;
    height: fit-content;
    margin-left: 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
    /*transform: translate(-50%,-50%); */
}


@keyframes anime {
    0%{
        font-family: Plain;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 100;
        opacity: 1;
    }
    48%{
        font-family: Plain;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 100;
        opacity: 0;
    }
    50%{
        font-family:Silk;
        -webkit-text-stroke: 1px #fff;
        font-weight: 100;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: Silk;
        -webkit-text-stroke: 1px #fff;
        font-weight: 100;
        color: transparent;
        opacity: 0;
    }
}
